.search-matching-terms{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
  .search-matching-terms button{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background:none;
    color:inherit;
    border:none;
    font: inherit;
    cursor: pointer;
  }
  .search-matching-terms button:hover {
    border-bottom:1px solid #444444; 
  }